.object_list {
    background-color: lightgrey;
    margin: 20px;
    padding: 20px;
    max-width: 100%;
}
.new_object_editor {
    background-color: lightgrey;
    max-width: 400px;
    margin: 20px;
    padding: 20px;
}
.remarks {
    padding-left: 20px;
}
.toolbar {
    background-color: grey;
    text-align: center;
}

h3 {
    padding-left: 20px;
}