tr.thisuser {
    color: grey;
}
tr.otheruser {
    color:black;
}
td.message_user {
    font-style: normal;
    font-weight: bold;
    width: 10%;
    text-align:right;
    padding-right: 30px;
}
td.message_text {
    font-style: italic;
    width: 90%;
}
table.conversation {
    background-color: lemonchiffon;
    width: 90%;
    padding: 10px;
    margin: 20px;
}

